@model WebScrapper_Prototype.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4 style="color:red;">TESTING... Image Upload seems to not be working... Mildly Frustrating...</h4>
<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductStock" class="control-label"></label>
                <input asp-for="ProductStock" class="form-control" />
                <span asp-validation-for="ProductStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductStatus" class="control-label"></label>
                        <select name="ProductStatus" asp-for="ProductStatus">
                            <option asp-for="ProductStatus" class="form-control dropdown-item" value=" ">Non</option>
                            <option asp-for="ProductStatus" class="form-control dropdown-item" value="New">New</option>
                            <option asp-for="ProductStatus" class="form-control dropdown-item" value="BestSeller">BestSeller</option>
                            <option asp-for="ProductStatus" class="form-control dropdown-item" value="Limited">Limited</option>
                        </select>
                        <span asp-validation-for="ProductStatus" class="text-danger"></span>                        
       
@*                <input asp-for="ProductStatus" class="form-control" />*@                
<span asp-validation-for="ProductStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategory" class="control-label"></label>
        <select name="ProductCategory" asp-for="ProductCategory">
            <option asp-for="ProductCategory" class="form-control dropdown-item " value="Laptops">Laptops</option>
            <option asp-for="ProductCategory" class="form-control dropdown-item" value="Hardware">Hardware</option>
            <option asp-for="ProductCategory" class="form-control dropdown-item" value="Accessories">Accessories</option>
            <option asp-for="ProductCategory" class="form-control dropdown-item" value="Pre-Built PC">Pre-Built PC</option>
        </select>
@*                <input asp-for="ProductCategory" class="form-control" />
*@                <span asp-validation-for="ProductCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductBasePrice" class="control-label"></label>
                <input asp-for="ProductBasePrice" class="form-control" />
                <span asp-validation-for="ProductBasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSalePrice" class="control-label"></label>
                <input asp-for="ProductSalePrice" class="form-control" />
                <span asp-validation-for="ProductSalePrice" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="VendorSite" class="control-label"></label>
                <input asp-for="VendorSite" class="form-control" />
                <span asp-validation-for="VendorSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorProductURL" class="control-label"></label>
                <input asp-for="VendorProductURL" class="form-control" />
                <span asp-validation-for="VendorProductURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visible" class="control-label"></label>
                <select name="Visible" asp-for="Visible">
                    <option asp-for="Visible" class="form-control dropdown-item " value="Laptops">Visible</option>
                    <option asp-for="Visible" class="form-control dropdown-item" value="Hardware">Hidden</option>
        </select>
@*                <input asp-for="Visible" class="form-control" />
*@                <span asp-validation-for="Visible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataBatch" class="control-label"></label>
                <input asp-for="dataBatch" class="form-control" />
                <span asp-validation-for="dataBatch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPic" class="control-label">Product Image</label>
                <div class="custom-file">
                    <input asp-for="ProductPic" class="custom-file-input" id="FLFrontImage" onchange="document.getElementById('FrontImagePrv').src = window.URL.createObjectURL(this.files[0])">
                </div>
                <span asp-validation-for="ProductPic" class="text-danger"></span>
                <img id="FrontImagePrv" src="" data="image" width="150" height="150" style="border:1px; margin-top:20px; margin-left:120px" alt="Nothing to show" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
   </script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
