@model IEnumerable<WebScrapper_Prototype.Models.Product>

@using Microsoft.AspNetCore.Identity
@using WebScrapper_Prototype.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Backend";
    Layout = "_Layout";
}
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Manager"))
{
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container">
                <a class="nav-link waves-effect" asp-area="" asp-controller="Product" asp-action="Index">
                   <strong>SwiftLink</strong> Admin Dashboard
                    </a>         
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="/">
                                Back to Frontend
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                        <a asp-action="Create" class="nav-link waves-effect">Add Product</a>
                        </li>
                        <li class="nav-item">
@*                            <a class="nav-link waves-effect" href="#">Add Tutorial</a>
*@                        </li>
                    </ul>
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a id="manage" href="/Identity/Account/Manage/" title="Manage" class="nav-link border border-light rounded waves-effect">Welcome Back @User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>    
}
else
{
<h1>
        !!ERROR!! CAUTION CAUTION CAUTION CAUTION  !!ERROR!!
    <br>
    yOu MAy be GEttiNG HaCked...
</h1>
}