<!DOCTYPE html>
<html lang="zxx">
<head>

</head>
<body>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
