@using Microsoft.AspNetCore.Identity
@using WebScrapper_Prototype.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="/">SwiftLink</a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#!">Shop</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="#!">Hardware</a>
                            </li>
                            <li>
                                <a href="#!">Software</a>
                            </li>
                            <li>
                                <a href="#!">Laptops</a>
                            </li>
                            <li>
                                <a href="#!">Accessories</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!">PC Builder</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="#!">Custom</a>
                            </li>
                            <li>
                                <a href="#!">Pre-built</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a id="manage" href="/Identity/Account/Manage/" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    </li>
                    <li>
                        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit">Logout</button>
                        </form>
                    </li>

                </ul>
            </nav>
        </div>
    </section>

}
else
{
    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="/">SwiftLink</a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#!">Shop</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="#!">Hardware</a>
                            </li>
                            <li>
                                <a href="#!">Software</a>
                            </li>
                            <li>
                                <a href="#!">Laptops</a>
                            </li>
                            <li>
                                <a href="#!">Accessories</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!">PC Builder</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="#!">Custom</a>
                            </li>
                            <li>
                                <a href="#!">Pre-built</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Identity/Account/Register">Register</a>
                    </li>
                    <li>
                        <a href="/Identity/Account/Login">Login</a>
                    </li>

                </ul>
            </nav>
        </div>
    </section>

}


