<div class="topbar">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-12 col-12">
				<!-- Top Left -->
				<div class="top-left">
					<ul class="list-main">
						<li><i class="ti-headphone-alt"></i> +27 (081) 565-0206</li>
						<li>
							<i class="ti-email"></i>
							support@swiftlink.com
						</li>
					</ul>
				</div>
				<!--/ End Top Left -->
			</div>
			<div class="col-lg-6 col-md-12 col-12">
				<!-- Top Right -->
				<div class="right-content">
					@if (User.IsInRole("Manager"))
					{
						<ul class="list-main">
							<li><i class="ti-shopping-cart"></i><a href="/Shop/Cart">Cart</a></li>
							<li><i class="ti-bag"></i><a href="/Shop">Shop</a></li>
							<li><i class="ti-dashboard"></i><a href="/Dashboard">Administrator Portal</a></li>
							<li><i class="ti-power-off"></i><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home" , new { area="" })">Logout</a></li>
						</ul>
					}
					else if (User.IsInRole("User"))
					{
						<ul class="list-main">
							<li><i class="ti-shopping-cart"></i><a href="/Shop/Cart">Cart</a></li>
							<li><i class="ti-bag"></i><a href="/Shop">Shop</a></li>
						</ul>
					}
					else
					{
						<ul class="list-main">
							<li><i class="ti-shopping-cart"></i><a href="/Shop/Cart">Cart</a></li>
							<li><i class="ti-bag"></i><a href="/Shop">Shop</a></li>
							<li><i class="ti-power-off"></i><a href="/Identity/Account/Login">Login</a></li>
						</ul>
					}
				</div>
				<!-- End Top Right -->
			</div>
		</div>
	</div>
</div>