@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
                    <div class="logo">
                        <a href="#">
                            <p class="mr-auto mx-lg-0"><span>Swift</span>Link</p>
                        </a>
                    </div>
                    </div>
