@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your data is not used outside of company scope and is not sold to other vendors. You may delete your data in your Account Management tab.</p>
