@{
    ViewData["Title"] = "Release Notes";

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Swift Link</title>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/mdb.min.css" type="text/css" rel="stylesheet">
    <link href="css/style.min.css" type="text/css" rel="stylesheet">
    <link href="css/site.css" type="text/css" rel="stylesheet">

</head>
<body>

    <section class="container">
        <a class="btn btn-outline-white btn-lg" margin:15px;"rel="nofollow noopener" asp-action="Index">
            <img src="~/Media/Navigation/Back.png" height="50" width="50" /> Home
        </a>
        <h1>@ViewData["Title"]</h1>
        <strong>Alpha 3.5</strong>
        @DateTime.UtcNow (LIVE)
        <br />
        <br />
        <h2>Go check out new features and edited Webpages:</h2>
        <p>
            <strong>
                Please let me know of any bugs or Auth issues you find.
            </strong>
            </p>
        <ul>
            <li>
                <a href="/Product/AutoProductCreateTest">CSV File Reader</a>
            </li>
            <li>
                <a href="/Product">New functions added to Product Dashboard such as Batch Delete, which will delete all products linked to a batch number</a>
            </li>
        </ul>
    </section>
    <footer class="page-footer text-center font-small mt-4 wow fadeIn">
        <hr class="my-4">
        <div class="footer-copyright py-3">
            © 2023 Copyright:
            <a href="http://swiftlink-env.eba-qm8w6ca2.eu-central-1.elasticbeanstalk.com/" target="_blank"> SwiftLink.com </a>
        </div>
    </footer>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script type="text/javascript">new WOW().init();</script>
</body>
</html>
