@{
    ViewData["Title"] = "Release Notes";

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Swift Link</title>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/mdb.min.css" type="text/css" rel="stylesheet">
    <link href="css/style.min.css" type="text/css" rel="stylesheet">
    <link href="css/site.css" type="text/css" rel="stylesheet">
</head>
<body>
    <section class="container">
        <a class="btn btn-outline-white btn-lg" margin:15px;"rel="nofollow noopener" asp-action="Index">
            <img src="~/Media/Navigation/Back.png" height="50" width="50" /> Home
        </a>
        <h1>@ViewData["Title"]</h1>
        <strong>Version: 4.5 Alpha</strong>
        @DateTime.UtcNow (LIVE)
        <br />
        <br />
        <h3>Back-end</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Class Name</th>
                        <th scope="col">Current Status</th>
                        <th scope="col">Update</th>
                        <th scope="col">Change Log</th>
                        <th scope="col">ToDo List</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="table-success">
                        <td>Shop Controller</td>
                        <td style="color:green;"><b>STABLE</b></td>
                        <td>
                            <ul>
                                <li>
                                    <strong>
                                        Added Method:<br />
                                        Cart
                                    </strong>
                                </li>
                                <li>
                                    <strong>
                                        Added Method:<br />
                                        Product
                                    </strong>
                                </li>
                                <li>
                                    <strong>
                                        Updated Method:<br />
                                        Index
                                    </strong>
                                </li>
                            </ul>
                        <td>
                            <strong>Cart</strong>
                            <ul>
                                <li>
                                    Authorized users may add products to cart
                                </li>
                                <li>
                                    <b>This is a separate method from the overlay Cart display, which sits in the Index Method</b>
                                </li>
                                <li>
                                    User is able to view more in depth data through ViewBags
                                </li>
                            </ul>
                            <strong>Product</strong>
                            <ul>
                                <li>
                                    Single Product logic and view
                                </li>
                                <li>
                                    Returns product information in PagedList data type
                                </li>
                            </ul>
                            <strong>Index</strong>
                            <ul>
                                <li>
                                    <b>Price Range now works!</b>
                                </li>
                                <li>
                                    Categories migrated from ActionLink to AJAX >>> Logic in controller persists as a switch statement with improved logic and integration testing
                                </li>
                                <li>
                                    User can select a category and show relevant price range
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    Manufacturers offered as a filter  >>> must be linked to price range and category
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="table-success">
                        <td>Home Controller</td>
                        <td style="color:yellowgreen;"><b>Experiencing Minor Bugs</b></td>
                        <td>
                            <ul>
                                <li>
                                    <strong>
                                        Added Method:<br />
                                        WishList
                                    </strong>
                                </li>
                                <li>
                                    <strong>
                                        Updated Method:<br />
                                        Index
                                    </strong>
                                </li>
                                <li>
                                    <strong>
                                        Added Feature:<br />
                                        Index
                                    </strong>
                                </li>
                                <li>
                                    <strong>
                                        Added Method:<br />
                                        DeleteConfirmed
                                    </strong>
                                </li>
                            </ul>
                        <td>
                            <strong>WishList</strong>
                            <ul>
                                <li>
                                    userId is passed by method
                                </li>
                                <li>
                                    Joins Product and UserWishList Tables in Database
                                </li>
                                <li>
                                    Returns products in a PagedList Format
                                </li>
                            </ul>
                            <strong>DeleteConfirmed</strong>
                            <ul>
                                <li>
                                    Wish-List Items are removed with this method
                                </li>
                                <li>
                                    Returns a redirect to Index
                                </li>
                            </ul>
                            <strong>Index</strong>
                            <ul>
                                <li>
                                    Queues utilized to lessen load on database
                                </li>
                                <li>
                                    Call wishList Table from Database
                                </li>
                                <li>
                                    Front end passes productId to Index >> AddToWishList
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    Code Clean up: Remove ViewBags properly and other redundant code
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="table-info">
                        <td>UserWishList Model</td>
                        <td style="color:green;"><b>STABLE</b></td>
                        <td>
                            <ul>
                                <li>
                                    <strong>
                                        Added Field:<br />
                                        [Key]
                                        public int Id{ get; set; }
                                    </strong>
                                </li>
                                <li>
                                    <strong>
                                        AAdded Field:<br />
                                        public string UserId { get; set; }
                                    </strong>
                                </li>
                                <li>
                                    <strong>
                                        Added Field:<br />
                                        public int? ProductId { get; set; }
                                    </strong>
                                </li>
                            </ul>
                        <td>
                            N/A
                        </td>
                        <td>
                            N/A
                        </td>
                    </tr>
                    <tr class="table-active">
                        <td>Login</td>
                        <td style="color:green;"><b>STABLE</b></td>
                        <td>
                            <strong>Updated:</strong><br />
                            User is assigned "User" role when they login
                            This allows the user access to all LIVE functionalities
                        </td>
                        <td>
                            return new Role to User on Login
                        <td>
                            <ul>
                                <li>
                                    Increase cookie usage
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="table-active">
                        <td>ProductModelController</td>
                        <td><b>REMOVED</b></td>
                        <td>
                            N/A
                        </td>
                        <td>
                            N/A
                        <td>
                            <ul>
                                <li>
                                    N/A
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="table-active">
                        <td>Register</td>
                        <td style="color:green;"><b>STABLE</b></td>
                        <td>
                            <strong>Updated:</strong><br />
                            User is redirected to Login page after registering, instead of loading homepage
                        </td>
                        <td>
                            return RedirectToPage("Login");
                        </td>
                        <td>
                            <ul>
                                <li>
                                    Change redirect to HOME but ensure user is signed in and cookies are assigned
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <h3>Front-end</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Class Name</th>
                        <th scope="col">Current Status</th>
                        <th scope="col">Features Updated/Added</th>
                        <th scope="col">Change Log</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr class="table-active">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
    </section>
    <footer class="page-footer text-center font-small mt-4 wow fadeIn">
        <hr class="my-4">
        <div class="footer-copyright py-3">
            2023 Copyright:
            <a href="http://swiftlink-env.eba-qm8w6ca2.eu-central-1.elasticbeanstalk.com/" target="_blank"> SwiftLink.com </a>
        </div>
    </footer>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script type="text/javascript">new WOW().init();</script>
</body>
</html>