@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
@*    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">
            <a class="navbar-brand waves-effect" href="/">
                <strong class="blue-text">SwiftLink</strong>
            </a>
        </div>
    </nav>*@
    <section>
        <div class="container">
            <div class="user signinBx">
                <div class="formBx">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h2>Create an account</h2>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Input.FirstName" type="text" placeholder="First Name" autocomplete="firstname" aria-required="true" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        <input asp-for="Input.LastName" placeholder="Last Name" autocomplete="lastname" aria-required="true" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        <input asp-for="Input.Cellphone" placeholder="Cellphone" autocomplete="cellphone" aria-required="true" />
                        <span asp-validation-for="Input.Cellphone" class="text-danger"></span>
                        <input asp-for="Input.CountryCode" placeholder="Country Code" autocomplete="countrycode" aria-required="true" />
                        <span asp-validation-for="Input.CountryCode" class="text-danger"></span>
                        <input asp-for="Input.Email" placeholder="Email" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <input asp-for="Input.Password" placeholder="Password" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        <input id="registerSubmit" type="submit" value="Sign Up" />
                        <p class="signup">
                            Already have an account ?
                            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" onclick="toggleForm();">Sign in.</a>
                        </p>
                    </form>
                </div>
@*                <div class="imgBx"><img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img2.jpg" alt="" /></div>
*@            </div>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        const toggleForm = () => {
            const container = document.querySelector('.container');
            container.classList.toggle('active');
        };
    </script>
    @section Scripts {

    }
</body>

</html>