@model WebScrapper_Prototype.Models.Orders

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderSubTotal" class="control-label"></label>
                <input asp-for="OrderSubTotal" class="form-control" />
                <span asp-validation-for="OrderSubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingTotal" class="control-label"></label>
                <input asp-for="ShippingTotal" class="form-control" />
                <span asp-validation-for="ShippingTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fee" class="control-label"></label>
                <input asp-for="Fee" class="form-control" />
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderGrandTotal" class="control-label"></label>
                <input asp-for="OrderGrandTotal" class="form-control" />
                <span asp-validation-for="OrderGrandTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
